.box{
    -fx-background-color: black;
    -fx-background-radius: 10;
    -fx-max-width: 250;
    -fx-min-width: 250;
}

.label{
    -fx-text-fill: #FFEEA0;
}

.bottom{
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-min-height: 300;
    -fx-max-height: 300;
}