VBox{
    -fx-alignment: center;
}

.select-member-dialog{
    -fx-background-image:  url("/asset/chatroom/select_panel_bg.png");
}

Rectangle{
    -fx-fill: #2265E1;
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-opacity: 50%;
}

Circle{
    -fx-stroke-width: 1;
    -fx-stroke: white;
}

.primary-label{

}

.Rectangle:hover{
    -fx-background-color: palegreen;
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

Button{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}